.mail {
    width: 100%;
    height: 15rem;
    background-color: #00224F;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .mailTitle {
        font-weight: 300;
        font-size: 1.5rem;
    }
    .mailDesc {
        font-weight: 300;
        font-size: 1rem;
        color: #dbd8d8;
    }
    .mailInputContainer {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 1.5rem;

        input {
            width: 22rem;
            height: 2.8rem;
            padding-left: 10px;
            font-size: 1rem;
            border: none;
            box-sizing: border-box;
            outline: none;
        }
        button {
            width: 10rem;
            height: 2.8rem;
            border: none;
            background-color: #006CE4;
            color: #fff;
            font-size: 1.2rem;
        }
    }
}